.forest-bg{
  background-image: url("forest-bg.jpg");
  color:white;
}
main img{
  height:10rem;
}
.dark-bg{
  color:white;
  background-color: #333634;
}
img.item{
  width:25%;
}
img.item:hover{
  cursor:pointer;
}
.row div{
  border:2px solid black;
}
.player{
  position:absolute;
}